$bigPadding : 30px;
$smallPadding : 20px;
$xsPadding: 15px;

body{
  margin: 0;
}



.mainContainer{
  width: 100%;
  padding: $bigPadding 0 $bigPadding;
}

.clearfix{
  display: block;
  clear: both;
}

@import "./grid/grid.scss";
@import "./header/header.scss";
@import "./img/img.scss";
@import "./media.scss";


