

@media (min-width: 1280px) {
  .grid__item_center{
    position: absolute;
    left: calc( 100% * ( 330 / 1280 ));
  }

  .grid__item_left{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: $bigPadding;
  }

  .grid__item_right{
    padding-right: $bigPadding;
  }

  .grid__item__img:nth-child(4n){
    padding-right: 0;
  }

  .grid__item__img:nth-child(5n){
    clear: both;
  }

}

@media (min-width: 768px) and (max-width: 1279px) {
  .grid__item{
    padding: 0 7px;
  }

  .grid__item_left,
  .grid__item_right{
    width: calc( 100% * ( 228 / 768 ) );
    float: left;
    padding-left: 14px;
  }

  /*.grid__item_right{
    position: absolute;
    left: 0;
    top: calc( 100% + 20px);
  }*/

  .grid__item_center{
    width: calc( 100% * ( 540 / 768 ) );
    float: right;
    padding-right: 14px;
  }

  .grid__item__img{
    width: calc( 100% / 3 );
    padding-right: $xsPadding;
  }

  .grid__item__img:nth-child(3n){
    padding-right: 0;
  }

  .grid__item__img:nth-child(3n+1){
    clear: both;
  }


}

@media (max-width: 767px) {
  .mainContainer {
    padding: $smallPadding 0 $smallPadding;
  }

  .grid__item{
    width: 100%;
  }

  .grid__item__img{
    width: calc( 100% / 2 );
  }

  .grid__item__img:nth-child(2n+1){
    clear: both;
  }

  .grid__item__img:nth-child(2n) {
    padding-right: 0;
  }

}