/*TEST*/
.grid__item__test{
  width: 100%;
  height: 100px;
}

.grid__item__test_1{
  background-color: #ff1d00;
}
.grid__item__test_2 {
  background-color: blue;
}

.grid__item__test_3{
  background-color: burlywood;
}
/*TEST END*/


.grid{
  position: relative;
}

.grid__item{
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: $smallPadding;
}

.grid__item_left{
  width: calc( 100% * ( 330 / 1280 ) );
  float: left;
}

.grid__item_center {
  width: calc( 100% * ( 660 / 1280 ) );
  float: left;
  margin-bottom: 0;
}

.grid__item_right{
  width: calc( 100% * ( 290 / 1280 ) );
  float: right;
}

.grid__item__img{
  box-sizing: border-box;
  float: left;
  width: calc( 100% / 4 );
  padding-right: $smallPadding;
  margin-bottom: $smallPadding;
}




